.input-format {
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important; 
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.input-format-error {
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important; 
    border: 1px solid red !important;
    border-radius: 0.25rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.invalid-feedback{
    color: red;
}

.error-msg {
    color: red !important;
    text-align: center;
}

.woocommerce-password-strength.short {
    background-color: #f1adad;
    border-color: #e35b5b;
}
.woocommerce-password-strength {
    text-align: center;
    font-weight: 600;
    padding: 3px .5em;
    font-size: 1em;
}