.show-form {display:block !important;}

.main-container {
    margin-bottom: 200px;
}

.input-error {
    border: 1px red solid !important;
}

.invalid-feedback{
    color: red;
    font-size: 10px;
}

.product-name a {
    color: inherit;
    font-size: 25px !important;
}
.product-name a {
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-image: linear-gradient(to right, #000 0%, #000 100%);
    -webkit-transition: background-size 0.55s cubic-bezier(.2,.75,.5,1);
    transition: background-size 0.55s cubic-bezier(.2,.75,.5,1);
    background-position: left bottom;
} 

a.added_to_cart {
    background-color: #000000 !important;
}

.checkout-button {
    background-color: #000000 !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
    text-shadow: none;
    -webkit-text-shadow: none;
    border: none;
    background-repeat: no-repeat;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
    
}

.checkout-button:hover {
    background-color: #333333 !important;
    transition: all 0.25s ease 0s !important;
    opacity: 0.8;
    
}