.show-form {display:block !important;}

.main-container {
    margin-bottom: 200px;
}

.input-error {
    border: 1px red solid;
}

.invalid-feedback{
    color: red;
    font-size: 10px;
}

.product-name a {
    color: inherit;
    font-size: 25px !important;
}
.product-name a {
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-image: linear-gradient(to right, #000 0%, #000 100%);
    -webkit-transition: background-size 0.55s cubic-bezier(.2,.75,.5,1);
    transition: background-size 0.55s cubic-bezier(.2,.75,.5,1);
    background-position: left bottom;
}