@import "~react-image-gallery/styles/css/image-gallery.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.store-plus:hover {
  background-color: black !important;
  color: white !important;
}

.store-minus:hover {
  background-color: black !important;
  color: white !important;
}

/* #customer_login .u-column1.col-1.visible {
  padding: 9%;
  background: #c4c851;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 9px 26px 0 rgb(0 0 0 / 19%);
  margin: 0 !important;
  color: 'white' !important;
}

#customer_login .u-column2.col-2 {
  padding: 9%;
  background: #35465a;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 9px 26px 0 rgb(0 0 0 / 19%);
  margin: 0 !important;
  color: 'white' !important;
} */

#zoid-paypal-buttons-uid_05b842d6fb_mja6mjc6mza {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 35px;
  min-width: 200px;
  max-width: 750px;
  font-size: 0;
}

#zoid-paypal-buttons-uid_05b842d6fb_mja6mjc6mza > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#zoid-paypal-buttons-uid_05b842d6fb_mja6mjc6mza > iframe.component-frame {
  z-index: 100;
}

#zoid-paypal-buttons-uid_05b842d6fb_mja6mjc6mza > iframe.prerender-frame {
  transition: opacity .2s linear;
  z-index: 200;
}

#zoid-paypal-buttons-uid_05b842d6fb_mja6mjc6mza > iframe.visible {
  opacity: 1;
}

#zoid-paypal-buttons-uid_05b842d6fb_mja6mjc6mza > iframe.invisible {
  opacity: 0;
  pointer-events: none;
}

#zoid-paypal-buttons-uid_05b842d6fb_mja6mjc6mza > .smart-menu {
  position: absolute;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
}

#zoid-paypal-message-uid_cb8fb4975b_mja6mjc6mzi > iframe {
  width: 100%;
  height: 0;
}

#zoid-paypal-message-uid_cb8fb4975b_mja6mjc6mzi > iframe:nth-of-type(2) {
  display: none;
}


html body.page.home.page-template-default div#ajax-content-wrap li.product.type-product a.button.product_type_simple.add_to_cart_button {
  background-color: black !important;
}

html body.page.home.page-template-default div#ajax-content-wrap li.product.type-product a.button.product_type_simple.add_to_cart_button: hover {
  background-color: black !important;
}