/* hidding the google translate bar */

.skiptranslate {
  display: none !important;
  } 
body {
  /* top: 0px !important;  */
  }
iframe {
  display: none !important;
  }

.flag-element {
  display: 'inline-block';
  width: "18px"; 
  height: "12px";
  margin-top: -5px;
  margin-right: 2px;
}